body {
  font: 16px "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

ol,
ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 2px solid #888;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  height: 80px;
  width: 80px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  transition: background 0.3s;
}

.square:hover {
  background: #ddd;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  margin-bottom: 20px;
}

.game-history {
  margin-top: 20px;
  text-align: center;
}

.game-history button:hover {
  background: #0056b3;
}

.game-history ol {
  list-style: none;
  padding: 0;
}

.game-history li {
  margin-bottom: 5px;
}

.highlight {
  background-color: #ffeb3b;
}
